<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row">
            <div class="col-4">
                <img src="../resources/icon_theDiveClub_Transparent.png" alt="Logo Home" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%; max-height: 100%;">
            </div>
            <div class="col-8">
                <div style="display: flex; align-items: center; justify-content: center; height: 100%; ">
                    <img src="../resources/drawing_logo_theDiveClub_textOnly.png" alt="Logo Home" style="max-width: 100%; max-height: 100%;">
                </div> 
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>