<div class="card rounded inputField">
    <p class="inputLabel">Username</p>    
    <input type="text" class="form-control border-0 inputText" id="username" name="username" placeholder="Enter username">
</div>

<div class="card rounded inputField">
    <p class="inputLabel">Password</p>    
    <input type="password" class="form-control border-0 inputText" id="password" name="password" placeholder="Enter password">
</div>

<div class="card rounded inputField">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="rememberMe">
        <label class="form-check-label" for="rememberMe">Remember me</label>
    </div>
</div>

<div class="btnHolder">
    <button type="submit" class="btn btn-primary">Login</button>
</div>

<p class="inputLabel">Log in with:</p>
<div class="btnHolder">
    <button type="button btnHolder" class="btn btn-primary">
        Google
        <img src="../resources/icon_google.svg" alt="">
    </button>
</div>

