<div id="nav-menu-container">
    <div class="row">
        <div id="nav-menu-body" class="col-sm-8 col-lg-4">
            
        </div>
        <div class="col-sm-4 col-lg-8"></div>
    </div>
</div>

<style>
    #nav-menu-container 
    {
        position: fixed;
        z-index: 999;
        width: 100vw;
        top: 8vh;
        height: 92vh;
    }

    #nav-menu-body 
    {
        height: 92vh;
        background-color: rgba(129, 58, 0, 0.5);
        backdrop-filter: blur(10px);
    }
</style>