<div class="nav-bar-container">
    <div class="row">        
        <div class="col-4" id="icon-container-menu">
            <button id="btn-nav-menu-toggle" class="nav-bar-button">
                <img id="icon-nav-menu" src="../resources/icons/icon_menu.svg">
            </button>
        </div>
        <div class="col-4" id="icon-container-TDC">
            <a id="nav-link" class="nav-bar-link" href="../index.html" aria-label="The Dive Club home">
                <img id="icon-nav-bar" src="../resources/icon_theDiveClub_alpha.svg" >
            </a>
        </div>
        <div class="col-4" id="icon-container-profile">
            <button id="btn-profile-menu-toggle" class="nav-bar-button">
                <img id="icon-profile-menu" src="../resources/icons/icon_player.svg">
            </button>
        </div>
    </div>
</div>

<style>
    .nav-bar-container 
    {
        background-color: transparent;
        backdrop-filter: blur(10px);
        position: fixed;
        z-index: 1000;
        width: 100vw;
        height: 8vh;
    }

    #icon-container-TDC
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #icon-container-menu
    {
        padding: 0.5cap 1cap;
    }

    #icon-container-profile
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 2rem;
    }

    .nav-bar-link, .nav-bar-button
    {
        background-color: transparent;
        border: none;
    }

    #icon-nav-bar 
    {
        max-height: 8vh;
        max-width: 100%;
        object-fit: contain;
        padding: 0.5cap;
    }
    
    #icon-nav-menu, #icon-profile-menu
    {
        max-height: 6vh;
        max-width: 100%;
        object-fit: contain;
        padding: clamp(0.4rem, 1vh, 0.75rem);
    }
</style>