<div class="nav-bar-container">
    <button id="btn-nav-menu-toggle" class="nav-bar-button">
        <img id="icon-nav-menu" src="/resources/icons/icon_menu.svg">
    </button>
    <a id="home-link" class="nav-bar-link" href="/index.html" aria-label="The Dive Club home">
        <img id="icon-home" src="/resources/icon_theDiveClub_alpha.svg" >
    </a>
    <button id="btn-profile-menu-toggle" class="nav-bar-button">
        <img id="icon-profile-menu" src="/resources/icons/icon_player.svg">
    </button>
</div>

<style>
    .nav-bar-container 
    {
        background-color: transparent;
        backdrop-filter: blur(10px);
        position: fixed;
        z-index: 1000;
        width: 100vw;
        height: 4rem;
        display: flex;
        justify-content: space-between;
    }

    .nav-bar-container button
    {
        height: 100%;
    }

    .nav-bar-container img
    {
        height: 4rem;
        object-fit: contain;
        padding: 0.25rem;
    }

    #icon-nav-menu
    {
        padding: 0.5rem;
        height: 3rem;
    }

    #icon-profile-menu
    {
        padding: 0rem;
        border-radius: 50%;
        box-shadow: 0 0 12px var(--color-base-00);
        height: 3rem;
    }

    #btn-profile-menu-toggle
    {
        padding: 0.5rem;
        margin-right: 1rem;
    }

    .nav-bar-container button
    {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0rem 1rem;
    }
</style>