<div class="site-map">
    <ul>
        <li><a href="#component-nav-bar">Navigation Bar</a></li>
        <li><a href="#component-nav-menu">Navigation Menu</a></li>
        <li><a href="#component-footer">Footer</a></li>
    </ul>
</div>
<style>
    .site-map {
        padding: 2cap;
        background-color: var(--color-base-01);
        box-shadow: 0px 12px 24px 0px var(--color-base-00);
    }

    .site-map ul {
        list-style-type: none;
        padding-left: 0;
    }

    .site-map a {
        text-decoration: none;
        color: var(--color-base-05);
    }

    .site-map a:hover {
        text-decoration: underline;
    }
</style>