<div class="site-map">
    <div style="display: flex; align-items: stretch;">
        <ul style="margin: 0; flex: 1 1 0;">
            <li><a href="#component-nav-bar">Start a New Match</a></li>
            <li><a href="#component-nav-menu">Your Profile</a></li>
            <li><a href="#component-footer">Match Center</a></li>
        </ul>
        <div role="separator" aria-orientation="vertical" style="width: 1px; background: var(--color-base-03); margin: 0 2rem; align-self: stretch;"></div>
        <ul style="margin: 0; flex: 1 1 0;">
            <li><a href="#component-nav-bar">Start a New Match</a></li>
            <li><a href="#component-nav-menu">Your Profile</a></li>
            <li><a href="#component-footer">Match Center</a></li>
        </ul>
    </div>
</div>
<style>
    .site-map {
        padding: 2cap;
        background-color: var(--color-base-01);
        box-shadow: 0px 12px 24px 0px var(--color-base-00);
    }

    .site-map ul {
        list-style-type: none;
        padding-left: 0;
    }

    .site-map a {
        text-decoration: none;
        color: var(--color-base-05);
    }

    .site-map a:hover {
        text-decoration: underline;
    }
</style>