:root {
    --color-base-light: rgba(232, 232, 232, 1);
    --color-base-dark: rgba(69, 69, 69, 1);
    --color-base-darkest: rgb(37, 37, 37);
    --color-primary: rgba(234, 0, 121, 1);
    --color-secondary: rgba(0, 53, 97, 1);
    --color-base-med: rgba(135, 135, 135, 1);
    --color-highlight: rgba(230, 161, 0, 1);
    --color-secondary-light: rgba(1, 110, 194, 1);
    --color-secondary-lighter: rgba(0, 186, 245, 1);
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(circle at -100% -100%, var(--color-base-dark) 0%, var(--color-base-darkest) 80%, var(--color-primary) 200%);
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 10vh;
}

p
{
    margin: 0%;
}

.header-logo
{
    width: 100%;
    max-height: 50vh;
}

.hud-nav
{
    position: fixed;
    bottom: 1cap;
    color: var(--color-base-light);
    z-index: 1000;
    padding: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.card-nav
{
    border: 0;
    border-radius: 20vw !important;
    box-shadow: 0 0px 24px 0px rgba(0, 0, 0, 75);
    background-color: var(--color-secondary);
    color: var(--color-base-light);
}

.btn
{
    border-radius: 20vw !important;
    min-height: 4cap;
    margin: 1cap;
}

.btn-nav
{
    background-color: var(--color-secondary);
    color: var(--color-base-light);
    border: none;
    border-radius: 20vw !important;
    margin: 0.5cap;
    padding: 1cap;
}

.btn-nav:hover
{
    background-color: var(--color-primary);
    color: var(--color-base-light);
}

.active
{
    background-color: var(--color-primary) !important;
    color: var(--color-base-light);
}

.dropdown-menu
{
    background-color: transparent;
    border: none;
}

.btn-icon
{
    border-radius: 50%; 
    background-color: rgb(0,0,0,0.5); 
    padding: 1cap;
}

.card-component
{
    backdrop-filter: blur(20px);
    background-color: rgb(0,0,0,0.1);
    color: var(--color-base-light);
    box-shadow: 0 0px 24px 4px rgba(0, 0, 0, 75);
    padding: 1cap;
    margin: 0.5cap;
}

.btn-primary
{
    background-color: var(--color-base-darkest);
    border-color: var(--color-primary);
}

.form-control
{
    background-color: transparent !important;
    color: var(--color-base-light) !important;
    border: 0.1cap solid var(--color-base-dark);
    padding: 1cap !important;
    margin-bottom: 1cap !important;
}

.form-control::placeholder 
{
    color: var(--color-base-light) !important;
}

p, .form-check-label
{
    padding: 1cap !important;
    padding-left: 0% !important;
}

.form-check-input
{
    margin: 1cap !important;
    padding: 1cap !important;
    background-color: var(--color-base-darkest) !important;
}

h2
{
    text-align: center;
}

.card-message
{
    background-color: var(--color-base-darkest) !important;
    color: var(--color-base-light);
    border-color: var(--color-highlight);
}

th, td
{
    border-color: var(--color-base-dark);
    background-color: transparent !important;
    color: var(--color-base-light) !important;
}

#cell-score-final
{
    border-color: var(--color-primary);
}

#btn-correction
{
    margin: 0cap !important;
    margin-left: 1cap !important;
    padding: 1cap !important;
    min-height: 0cap !important;
}

#cell-apples-final
{
    border-color: var(--color-highlight);
    font-size: small;
}