:root 
{
    --color-base-light: rgba(232, 232, 232, 1);
    --color-base-dark: rgba(69, 69, 69, 1);
    --color-base-darkest: rgb(37, 37, 37);
    --color-primary: rgba(234, 0, 103, 1);
    --color-secondary: rgba(0, 53, 97, 1);
    --color-base-med: rgba(135, 135, 135, 1);
    --color-highlight: rgba(230, 161, 0, 1);
    --color-secondary-light: rgba(1, 110, 194, 1);
    --color-secondary-lighter: rgba(0, 186, 245, 1);
    --shadow: rgba(0, 0, 0, 1);
    
    --color-transparent-dark: rgba(69, 69, 69, 0.5);
}

@font-face 
{
    font-family: 'CustomFont';
    src: url('../resources/Rushfordclean-rgz89.otf') format('opentype');
    font-display: swap; /* Ensures text is displayed immediately */
    ascent-override: 60%; /* Adjusts the ascent to reduce extra space */
    descent-override: 0%; /* Adjusts the descent to reduce extra space */
    line-gap-override: 0%; /* Removes additional line gap */
}
    
.custom-font 
{
    font-family: 'CustomFont', sans-serif;
    padding-top: 0.7cap;
}

body
{
    min-height: 100dvh;
    height: 100dvh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(circle at 50% -100%, var(--color-base-dark) 0%, var(--color-base-darkest) 80%, var(--color-primary) 250%);
    overflow-x: hidden;
    background-attachment: fixed !important;
    padding: 0 !important;
    margin: 0 !important;
    display: block !important;
}

body::-webkit-scrollbar {
    width: 4px;
    background-color: transparent; /* Transparent background for the scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-base-med); /* Dark color for the scrollbar thumb */
    border-radius: 12px; /* Rounded corners for the scrollbar thumb */
}

footer
{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
}

.nav-container
{
    position: fixed;
    display: block;
    width: 104vw;
    background-color: var(--color-transparent-dark);
    backdrop-filter: blur(10px);
    padding: clamp(0cap, 0.5vmax, 4cap) clamp(2cap, 5vmax, 8cap);
    z-index: 2000;
    min-height: 8vh;
}

.nav-links
{    
    border-radius: 1cap;
}

.nav-link
{
    margin: 1cap;
    color: var(--color-base-light);
    background-color: var(--color-base-darkest);
    padding: 1cap;
    border-radius: 8px;
}

.active
{
    color: var(--color-base-light) !important;
    background-color: var(--color-primary);
}

.main
{    
    box-shadow: 0px 0px 48px 24px var(--shadow);
}

#welcome-text
{
    font-size: 5vw;
}

.btn-primary
{
    background-color: var(--color-primary);
    border: none;
    margin: 1cap;
}

.card-component
{
    color: var(--color-base-light);
    background-color: transparent !important;
    padding: 2cap;
    margin-bottom: 1cap;
}

.input-field
{
    background-color: transparent;
    color: var(--color-base-light);
    padding: 2cap;
    margin: 1cap 0cap;
}

.inputText
{
    background-color: transparent !important;
    color: var(--color-base-light); /* Ensure text color is visible */
    padding: 2cap 1cap;;
}

.inputText::placeholder
{
    color: var(--color-base-med);
}

.inputText:focus
{
    color: var(--color-base-light); /* Ensure inputted text is light */
}

h1
{
    font-family: 'CustomFont', sans-serif;
    color: var(--color-base-light);
    font-size: clamp(6cap, 8vmax, 12cap);
    text-align: center;
}

h2
{
    font-family: 'CustomFont', sans-serif;
    color: var(--color-base-light);
    font-size: clamp(4cap, 5vmax, 8cap);
    text-align: center;
}

.profile-pic {
    width: clamp(6cap, 10vmax, 20cap);
    object-fit: cover;
    border: 0px solid white;
    margin: clamp(1cap, 2vmax, 4cap);
    box-shadow: inset 0px 0px 24px 12px rgba(0, 0, 0, 1);
    border-radius: 50%; /* Makes the border round */
}

.bi 
{
    color: var(--color-base-light);
}

.profile-card
{
    color: var(--color-base-light);
    text-align: center;
}

tr, th, td
{
    background-color: transparent !important;
    color: var(--color-base-light) !important;
}