/* General container styling */
.scorecard-container {
    background-color: transparent;
    padding: 0cap;
    font-family: "CustomFont", sans-serif; /* Apply custom font */
}

/* Player card styling */
.player-card {
    background-color: transparent;
    margin: 0.5cap;
    margin-bottom: 2cap;
    font-family: "CustomFont", sans-serif; /* Apply custom font */
}

.player-header {
    text-align: center;
}

.player-pic {
    width: 10vmax;
    height: 10vmax;
    object-fit: cover;
    border: 0px solid white;
    margin-right: 1rem;
    box-shadow: inset 0px 0px 24px 12px rgba(0, 0, 0, 1);
    border-radius: 50%; /* Makes the border round */
}

.player-nickname {
    font-size: 4vmax;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "CustomFont", sans-serif; /* Apply custom font */
}

.player-name {
    font-size: 2vmax;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "CustomFont", sans-serif; /* Apply custom font */
}

.player-body {
    text-align: center;
    box-shadow: inset 0px 0px 96px 24px rgba(0, 0, 0, 1);
}

.player-score {
    font-size: 6cap;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "CustomFont", sans-serif; /* Apply custom font */
}

.player-apples,
.player-cplus {
    font-size: 2cap;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "CustomFont", sans-serif; /* Apply custom font */
}

.player-footer {
    text-align: center;

}

.player-point-btn,
.player-apple-btn,
.player-cplus-btn {
    font-size: 3vmax;
    font-family: "CustomFont", sans-serif; /* Apply custom font */
}

/* Timeline container styling */
.timeline-container, .match-summary-container {
    margin: 1cap 1cap;
    background-color: transparent;
}

th, tr, td
{
    background-color: transparent !important;
    color: var(--color-base-light) !important;
    border: 1px solid var(--color-base-med) !important;
}

.cell-tight
{
    padding: 0cap !important;
    font-size: 2cap;
}

table
{
    background-color: transparent !important;
    text-align: center;
    font-size: small;
}

.player-break
{
    color: var(--color-base-light);
}

.btn-primary
{
    margin: 0cap !important;
    margin-right: 2cap !important;
}

.matchSettings-heading
{
    font-family: "CustomFont", sans-serif; /* Apply custom font */
    font-size: 3cap; 
    text-align: center;
}