:root {
    --color-primary: #E8E8E8;
    --color-secondary: #EA0079;
    --color-accent: #26262e;
    --color-background: #050513;
    --color-text: #003561;
    --color-border: #EA0079;
}

body {
    background-color: var(--color-accent);
    color: var(--color-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.profile-icon-card
{
    border-radius: 20vw !important;
    background-color: var(--color-background);
    border: 2px solid var(--color-secondary);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
}

.profile-icon-image {
    border-radius: 50%;
    width: 30vw;
    height: auto;
    max-width: 32%;
    object-fit: cover;
    position: absolute;
    background-color: var(--color-accent);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
    border: 5px solid var(--color-secondary);
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.profile-icon-name
{
    position: relative;
    text-align: center;
    font-size: 2cap;
    font-weight: lighter;
    color: var(--color-primary);
    padding-left: 1cap;
    margin: 0%;
}

.profile-icon-controls
{
    text-align: right;
    padding-bottom: 2.5cap;
    padding-right: 3%;
    width: 50%;
    position: absolute;
    transform: translate(25%, -125%);
    border: 5px solid var(--color-secondary);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
    border-radius: 20vw !important;
    z-index: -1;
}

.profile-icon-nickname
{
    margin: 0%;
    font-weight: bold;
    font-size: 1.25cap;
}

.btn-sign-out
{
    position: absolute;
    left: 12%;
    top: 96%;
    padding: 0%;
    padding-top: 0.5%;
    padding-left: 20vw;
    padding-right: 5%;
    border-radius: 20vw !important;
    background-color: var(--color-text);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
    color: var(--color-secondary);
    text-decoration: underline;
    border: 2px solid var(--color-border);
}

.btn-sign-out:hover 
{
    background-color: var(--color-secondary);
    color: var(--color-background);
}