:root {
    --color_p: #222222;
    --color_h: rgb(255, 255, 255);
    --color_h_bg: #555555;
    --color_shadows: #000000;
}

body {
    background-color: var(--color_h_bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.drop-slot {
    border: 2px dashed #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.card
{
    margin-top: 1cap;
    box-shadow: 0 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-color: rgb(255, 0, 119);    
}

.card-header
{
    background-color: var(--color_p);
    color: var(--color_h);
    font-weight: lighter;
    font-size: x-large;
    padding: 1cap;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

.container_tournamentRound
{
    margin: 5%;
}

.container_tournamentMatch
{
    width: 20%;
}

.logoHome 
{
    width: 25vw;
    height: auto;
}

.nav-item
{
    background-color: var(--color_p);
    border-radius: 5px;
}

.nav-link
{
    color: white;
    min-width: 15vw;
    margin: 1%;
}

.inputLabel
{
    font-size: small;
    margin: 1cap;
}

.inputField
{
    background-color: rgb(226, 226, 226);
    color: black;
    border: 0;
    padding: 1cap;
    margin: 0.25cap;
}

.inputText
{
    background-color: rgb(226, 226, 226);
    border: 0;
    padding: 1cap;
    font-size: large;
}

.btn
{
    width: 100%; 
    padding: 1cap;
    border: none;
    margin: 0.5cap;
    font-weight: bold;
    color: white;
    box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.25);
}

.btn-entry 
{
    width: auto;
    margin: 0.25cap;
    padding: 0.8cap;
    font-weight: lighter;
}

.btn-compact
{
    width: auto;
    padding: 0.8cap;
    margin: 0.25cap;
}

.btnHolder
{
    padding: 1cap; 
    width: 100%;
}

.hud-banner {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    background-color: #ffcc00; /* Yellow background */
    color: #000; /* Black text */
    text-align: center;
    padding: 10px;
    z-index: 1000; /* High z-index to sit above other elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for better visibility */
}

.tournamentDetails
{
    padding-right: 1cap;
    padding-top: 0.5cap;
}

p
{
    margin: 0;
}

.btn-primary
{
    background-color: rgb(255, 0, 119);
}

.link
{
    color: rgb(255, 0, 119);
}

.form-check-input
{
    background-color: rgb(255, 0, 119) !important;
    border: 0;
}
